<!DOCTYPE html>
<html lang="pt-br">

@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@{
  var user = Context.User.Identity.Name;

  var role = Context.User.Claims
    .Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="~/favicon.ico">
  <title>.NET 5</title>

  <link rel="stylesheet" href="~/css/layout-internal.css" />
  <link rel="stylesheet" href="~/css/font.css" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="~/interno/vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/interno/css/simple-sidebar.css" />

  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/mask/dist/jquery.mask.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light border-bottom">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active ml-2 mr-5">
              <a class="nav-link logo" asp-action="Index" asp-controller="Interno">.NET 5
                <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown mr-4">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                Cadastros
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Banco">Banco/Varejo</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Cliente">Cliente</a></li>               
                <li><a class="dropdown-item" asp-action="LiberarAcesso" asp-controller="User">Acessos</a></li>
              </ul>
            </li>           
          </ul>
        </div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active mr-5">
              <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown">
                  @user
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" asp-controller="Interno" asp-action="AlterarSenha">Alterar Senha</a>
                  <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Sair</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid conteudo">
        @RenderBody()
      </div>
    </div>

  </div>

  @RenderSection("Scripts", required: false)
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>


  <!-- //////////////////// Ordenação das Tabelas //////////////////////////-->
  <script src="~/lib/table-sorter/js/jquery.tablesorter.min.js"></script>
  <script>
    $(function () {
      $('table').tablesorter({
        usNumberFormat: false,
        sortReset: true,
        sortRestart: true
      });
    });
  </script>

</body>

</html>
