@{
    ViewData["Title"] = "Confirmed";
    Layout = "_Layout";
}

<h5 class="card-title">Cadastro confirmado</h5>
<h6 class="card-subtitle mb-2 text-muted">Aguarde Liberação de Acesso</h6>
<p class="card-text">Seu cadastro foi enviado para o gestor do sistema.<br>
    Assim que for autorizado, entre com login e senha registrados.</p>
<a asp-action="Index" asp-controller="Home" class="card-link">Voltar</a>
